@keyframes clearWeatherAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes rainWeatherAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes cloudsWeatherAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.clear-weather-bg {
  background: linear-gradient(-45deg, #23a6d5, #23d5ab, #f5af19, #f12711);
  background-size: 400% 400%;
  animation: clearWeatherAnimation 15s ease infinite;
}

.rain-weather-bg {
  background: linear-gradient(-45deg, #00c6ff, #0072ff, #00c6ff, #0072ff);
  background-size: 400% 400%;
  animation: rainWeatherAnimation 15s ease infinite;
}

.clouds-weather-bg {
  background: linear-gradient(-45deg, #bdc3c7, #2c3e50, #bdc3c7, #2c3e50);
  background-size: 400% 400%;
  animation: cloudsWeatherAnimation 15s ease infinite;
}
